.totalFrame{
    /* position: relative; */
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    /* height: 50%; */
}

.outerFrame{
    position: relative;
    top: 100px; 
    left: 40px; 
    border: #FFFF00 solid 5px;
    width: fit-content;
    padding: 10px;
}
.innerFrame{
    /* top: 26px; */
    position: relative;
    width: 200px;
    border: #FFFF00 solid 5px;
    overflow-y: hidden;

}
.profileImg{
    /* top: 5px; */
    display: block;
    position: relative;
    height: 160%;
    width: 150%;
    right: 50px;
}

